#logo {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    position: relative;

}

* {
    box-sizing: border-box;
}

#microphone {
        position: relative;
        background: url(//www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png) 0 0 no-repeat;
        height: 24px;
        width: 24px;
        left: 450px;
        top: -22px;
        background-size: 24px;
        vertical-align: middle;
}

ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li { 
    display: inline;
}

a {
    padding: 8px;
    width: 60px;
  }

.button {
    border-style: solid;
    position: relative;
    display: inline-block;
    height: 36px;
    width: 142.578;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    text-align: center;
    padding-top: 7px;
    font-size: 13px;
    font-stretch: 100%;
    color: rgb(117,117,117);
    font-family: arial, sans-serif;
    font-weight: 700;
    background-color: rgb(242,242,242);
    border-color: rgb(242,242,242);
    top: 50px;

}

#gsearch {
    margin-left: 4px;
    margin-right: 4px;
}

#searchbox{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 2px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px
    ;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 38%;
    height:44px;
    width: 484px;
}

#search {
    height: 34px;
    display: block;
    width: 200px;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
}

#lucky {
    height: 36px;
    width: 142.578;
    margin-bottom: 11px;
    margin-left: 4px;
    margin-right: 4px;
}

#center {
    height: 58px;
    text-align: center;
    position: relative;
    top: 43%;
    width: 487px;
    margin-left: auto;
    margin-right: auto;
    
}

#bottom1, #bottom2 {
    position: fixed;
    width: 100vw;
    display: block;
    height: 40px;
    background-color: rgba(0,0,0,.06);
    color: rgba(0, 0, 0, 0.54);
}

#bottom1 {
    bottom: 0;
    border-top: 1px solid #e4e4e4;
}

#bottom2 {
    bottom: 40;
    border-top: 1px solid #e4e4e4;
}